<!--
    Kaephas Kain
    /date/
    /filename/
    
    /description/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meal!</title>
</head>
<body>
<form method="POST" action="summary">
    <label>Meal:
    <select name="meal" id="meal">
        <option value="Breakfast">Breakfast</option>
        <option value="2nd Breakfast">2nd Breakfast</option>
        <option value="Elevensies">Elevensies</option>
        <option value="Lunch">Lunch</option>
        <option value="Afternoon Tea">Afternoon Tea</option>
        <option value="Dinner">Dinner</option>
        <option value="Supper">Supper</option>
    </select>
    </label>
    <input type="submit" value="Choose Meal">
</form>
</body>
</html>